.about-banner-design{
 
    max-width: 1400px;
    min-height: 270px;
    background-color: $bg-btn;
    display: flex;
    align-items: flex-end;
      padding-bottom: 90px; 
       

    h1{
        font-family: "Space Grotesk",sans-serif;
            font-weight: 700;
            font-style: Bold;
            font-size:25px;
            
            letter-spacing: 0%;

    }
    li{
        font-size: 20px;
    }

}